# ignore everything in the root except the "custom theme"
/public/*
!public/wp-content/
public/wp-content/*
!public/wp-content/themes/
public/wp-content/themes/*
!public/wp-content/themes/zenleaf-custom-theme
/public/*
!public/themes/
public/themes/*
!public/themes/zenleaf-custom-theme

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite