
.fusion-post-grid div.fusion-post-content-wrapper div.fusion-post-content-container>p>a {
    bottom: 38px;
    
    border: 1px solid #000;
    color: #000;
    border-radius: 3px;
    font-size: 12px;
    padding: 6px 19px;
    display: block;
    width: fit-content;
    height: fit-content;
    position: absolute;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 500;
}

.fusion-post-grid div.fusion-post-content-wrapper div.fusion-post-content-container>p>a:hover {
    background-color: white;
    border: 1px solid #000;
}


h2 {
    
}



.blogGrid  {

    &.hidden {
        display:none;
    }


    /* Title of each blog article inside the cards */
    .entry-title {
        line-height:1 !important;
        margin-bottom:10px;
        a {
            font-size:20px !important;
            
        }
    }

    h2, h3, h2.action_text_xl, h3.action_text_xl { 
        display:block;
        font-family:Norwester;
        font-size:48px;
        font-weight:400;
        letter-spacing:normal;       
        margin-bottom:30px;
        @media screen and (max-width: 800px) {
            font-size:24px !important;
        }
        strong {
            display:block;
            font-family: 'Nourd-Bold';
            font-size:48px;
            font-weight:400;
            letter-spacing:normal;      
            @media screen and (max-width: 800px) { 
                font-size: 18px;
                line-height: 8px;
            }
        }
    }
    
    .blog-shortcode-post-title a {
        font-family:"FiraSansCondensed-Regular" !important;
        color:#000 !important;
        font-weight:900 !important;
    }


    
    h4.action_text_xl, h5.action_text_xl, h6.action_text_xl, p.action_text_xl {
    
        font: normal normal normal 18px/20px FiraSansCondensed-Regular;
        letter-spacing: 0px;
        color: #000;
        margin-top:10px;
        text-transform:none;
    
    }

    .fusion-button-text {
        text-transform:uppercase;
        letter-spacing:.1em;
    }
    
    .fusion-button {
        margin-top: 70px;
        margin-bottom: 70px;
    }
    
}

.blog-shortcode-post-title a {
    font-family:"FiraSansCondensed-Regular" !important;
    color:#000 !important;
    font-weight:900 !important;
    text-transform:none !important;
}

@media screen and (max-width: 800px) {
    .fusion-tb-page-title-bar img {
        display: none !important;
    }

    .fusion-post-content-container
    {
        a {
        display:none !important;
    }

.post-content h2 a {
    @apply underline;
}

    padding-bottom:0;
}
}

@media screen and (max-width: 800px) {
#content a.heading-link, #content .fusion-blog-layout-grid a {
    text-decoration: underline;
}
}


