.trusted_brand_hl_1 h6::before,
.trusted_brand_hl_1 h6::after {
    display: inline-block;
    content: "";
    border-top: 2px solid #1f1f1f;
    opacity: 1;
    width: 12rem;
    @media screen and (max-width: 960px) {
        width: 6rem;
    }
    @media screen and (max-width: 640px) {
        width: 0rem;
        margin-right:0 !important;
        margin-left:0 !important;
        transform: translateY(0);
    }
    margin: 0 2rem;
    transform: translateY(-.6rem);
    -moz-box-shadow: 0px 2px 0px #1f1f1f; /* Firefox 3.6 and earlier */
    -webkit-box-shadow: 0px 2px 0px #1f1f1f; /* Safari and Chrome */
    box-shadow: 0px 9px 0px #1f1f1f;
}
    .trusted_brand_hl_1 h6 {
        letter-spacing: 5px;
        margin-top: 40px;
    margin-bottom: 10px;
    
    }

    .trusted_brands_container {

        box-shadow : inset 0px 0px 6px 5px rgb(0 0 0 / 8%);


        @media screen and (max-width:800px) {
            max-height:fit-content;
        }

        .fusion-builder-row {
            align-items: center !important;
            justify-content: center  !important;
        }
    }

.fusion-breadcrumbs.fusion-breadcrumbs-1 a{
    @apply underline;
}