.ctaPrimary {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
    background-size:cover;

h1, h2, h3, h4, h5, p {
    text-align:center !important;
}


}
/* UKNNOWN
.fusion-body .fusion-flex-container.fusion-builder-row-5 {
    padding-top: 48px !important;
    padding-bottom: 48px !important;    
}
*/