.nav-link{
    @apply text-black px-3 py-4 rounded-md text-base font-medium xl:text-base float-left hover:bg-gray-200 hover:underline tracking-widest;
    
}
.megamenu-button{
    @apply uppercase tracking-widest hover:bg-gray-200 px-3 py-4 flex;
}
.nav-sub-link{
    @apply block p-4 hover:bg-gray-200 hover:underline tracking-widest font-medium;
}
.dropdown{
    @apply text-black rounded-md text-base font-medium tracking-widest uppercase float-left overflow-hidden;
}

.nav-sub-link-m, .nav-link-m, .megamenu-button-m{
    @apply block px-6 py-1 text-base text-gray-700;
}
.nav-link-m, .megamenu-button-m{
    @apply hover:underline;
}
.megamenu-button-m{
    @apply uppercase w-full;
}
.mobile-sub-menu{
    @apply w-80 max-w-full rounded-sm shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none py-4 hidden;
}
.back-to-main-m{
    @apply block px-4 pt-1 pb-3 text-base text-gray-700 uppercase;
}
a{
    outline-width: initial;
    outline-style: initial;
}
a:focus {
    outline-width: 2px;
    outline-style: dotted;
    outline-color: #1f1f1f;
}